.post-title {
    text-transform: capitalize;
    color: var(--primary-color);
}

.post-name {
    text-transform: capitalize;
}

.post-img {
    width: 45rem;
    height: 35rem;
    object-fit: cover;
}
.post-tags {
    color: gray;
    text-transform: lowercase;
}

.post-btn {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    margin-left: 0.8rem;
    }

.like-btn,
.edit-btn {
    color: var(--primary-color);
}

.like-btn:hover,
.edit-btn:hover {
    color: var(--hover-color);
}

.like-text {
    font-size: 1.05rem;
}

.delete-btn {
    color: #912f0f;
}

.delete-btn:hover {
    color: #e8440f;
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .post-img {
        width: 35rem;
    }
}

@media (min-width: 501px) and (max-width: 999px){
    .post-img {
        width: 26rem;
    }
}

@media (max-width: 500px) {
    .post-img {
        width: 22rem;
    }
}